<!DOCTYPE html>
<html>
<head>
  <title>IoStore</title>
  <%= stylesheet_link_tag    "io_store/application", media: "all" %>
  <%= javascript_include_tag "io_store/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
