
<div class="container-fluid">
  <div class="row">

    


    <%= render 'io_store/carts/items', :cart => cart %>
    <%= render 'io_store/carts/cart_footer', :cart => cart %>

    

    


  </div>
</div>
